header{
    margin: auto;
    text-align: center;
    ;
}
body{
    background-color: rgba(37,31,33,255);
}
.EQSIMG{
    width: 500px;
    border-radius: 10px;
    margin: 10px;
    float: left;
    padding-top: 30px;
}
.feclec{
    padding-bottom: 2000px;
}

.haromszazD{
    width: 500px;
    border-radius: 20px;
    margin: 10px;
    float: right;
    padding: 10px;
    padding-top: 80px;
}

.legoregebb{
    width: 500px;
    border-radius: 10px;
    margin: 10px;
    float: left;
    padding-top: 60px;
}

.szoveg{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 22px;
    text-align: center;
    margin: auto;
    padding-top: 55px;
}
.vizkartya{
    padding: 60px;
}
.fuggkartya{
    margin: auto;
    text-align: center;
    padding-left: 30px;
    background-color: rgb(75, 75, 75);
}